@import url("https://fonts.googleapis.com/css2?family=Cabin&family=Roboto+Condensed:wght@400;700&display=swap");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* HERE WE GO */
/*
=============== 
Variables
===============
*/
:root {
  --color-1: #1971b1;
  --color-1-dark: #093976;
  --color-1-light: #33bff7;
  --color-2: #ff4f38;
  --color-2-dark: #b71c23;
  --color-2-light: #ffa887;

  --color-texto: #1a1a1a;

  --fondo: url(/markus-spiske-Skf7HxARcoc-unsplash.jpg);

  --font1: "Roboto Condensed", sans-serif;
  --font2: "Cabin", sans-serif;
}

body {
  background: linear-gradient(
      90deg,
      rgba(9, 57, 118, 1) 05%,
      rgba(25, 113, 177, 1) 40%,
      rgba(51, 191, 247, 1) 100%
    ),
    var(--fondo);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--color-1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 100vh;
}

main {
  background: linear-gradient(
    317deg,
    rgba(255, 168, 135, 1) 05%,
    rgba(255, 79, 56, 1) 40%,
    rgba(183, 28, 35, 1) 100%
  );
  width: 600px;
  border-radius: 5px;
  padding: 20px;
}

h1 {
  font-family: var(--font1);
  font-size: 28px;
  color: white;
}

label {
  font-family: var(--font2);
  font-size: 18px;
  color: var(--color-texto);
}

input,
select,
textarea {
  border-radius: 5px;
  border: none;
  font-family: var(--font2);
  font-size: 18px;
  color: var(--color-texto);
}
